@use "sass:map";
@use "abstracts" as *;

.section {
  @include container(rem(1479));
}

.home {
  padding-top: rem(120);
  padding-bottom: rem(84);
}

.proofs {
  padding-top: rem(96);
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: rem(72);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: rem(48);
  margin-top: rem(48);

  @include below(lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(30);
  }

  @include below(sm) {
    grid-template-columns: 1fr;
    gap: rem(24);
  }
}
